@font-face {
  font-family: "wasm";
  src: url(../assets/fonts/Wasm-Font-Normal-Light.ttf) format("truetype");
}
.bg-white-shapes {
  background-image: url("../assets/images/bg-shapes.jpg");
}
.section2-bg {
  background: url("../assets/images/section2-img.png") no-repeat bottom left;
}
.section3-bg {
  background: url("../assets/images/section3-img.png") no-repeat bottom right;
}
.section4-bg {
  background: url("../assets/images/section4-img.png") no-repeat bottom left;
}

